
/* Page - EditTickets */

.SpektrixPage.EditTickets .EditTicketsHeading {
	overflow: hidden;
}

.SpektrixPage.EditTickets .EditTicketsHeading h1 {
	float:left;
	@include mq(small-smartphone) {
		float:none;
		margin-bottom:4px;
	}
}

// Superfluous text - Hide 'Please select the type of tickets you would like.' message
.SpektrixPage.EditTickets p.Message {
	display:none;
}

.SpektrixPage.EditTickets .ChangeMySeatsLink {
	@include normal-button;
	@include sentence-case;
}

.SpektrixPage.EditTickets .Details table {
	width:100%;
}

.SpektrixPage.EditTickets .Details table tr {
	border-bottom:1px solid $divider-color;
}

.SpektrixPage.EditTickets .Details table th {
	text-align: left;
	@include mq(smartphone) {
		font-size: 12.1px;		
	}
}

.SpektrixPage.EditTickets .Details table td.SeatName {
	letter-spacing: 3px;
}

.SpektrixPage.EditTickets .Details table .Delete.Column {
	text-align: center;
}

.SpektrixPage.EditTickets .Details table .Type.Column select {
	@include mq(smartphone) {
		font-size: 14.1px;
	}
}

.SpektrixPage.EditTickets .Details table .Delete.Column {
	@include mq(smartphone) {
		display:none; // Need to make some space, users can go back to delete
	}
}

.SpektrixPage.EditTickets .Buttons input[type="submit"] {
	@include large-button;
}

// Fix for extra column

.SpektrixPage.EditTickets .Details .TableWithInfoColumn tr {
	// Hide the usual borders
	@include mq(smartphone) {
		border-bottom:0;		
	}
}

.SpektrixPage.EditTickets .Details .TableWithInfoColumn .InfoRow {
	// Show the added row on smartphone
	display:none;
	@include mq(smartphone) {
		display:table-row;
		border-bottom:1px solid $divider-color;
	}
}

.SpektrixPage.EditTickets .Details .TableWithInfoColumn .InfoRow td {
	@include mq(smartphone) {
		padding-top:0;
	}
}

.SpektrixPage.EditTickets .Details .TableWithInfoColumn td.Type.Column {
	@include mq(smartphone) {
		padding-left:0;
	}
}


.SpektrixPage.EditTickets .Details .TableWithInfoColumn tr:first-child {
	// …but put the header ones back on
	@include mq(smartphone) {
		border-bottom:1px solid $divider-color;
	}
}

.SpektrixPage.EditTickets .Details .TableWithInfoColumn th.Info.Column,
.SpektrixPage.EditTickets .Details .TableWithInfoColumn td.Info.Column {
	// Hide the whole column on smartphone
	@include mq(smartphone) {
		display:none;
	}
}