
/* Page - Basket2 */

dd {
	margin: 0;
}

.Items {
  // This is the main basket table
  margin: $vertical-spacing * 2 0;
  @include mq(smartphone) {
  	margin: $vertical-spacing 0 $vertical-spacing * 2;	
  }
}

dd.Item,
dd.Footer {
	border-top: 1px solid $divider-color;
}

dt.Header {
	float: left;
	width: 45%;
	padding-bottom: $vertical-spacing;
	font-weight: bold;
	@include mq(smartphone) {
		display:none;	
	}
}

dd.Header {
	overflow: hidden;
	padding-bottom: $vertical-spacing;
	font-weight: bold;
	@include mq(smartphone) {
		display:none;	
	}
}

dd.Header .Breakdown {
	float: left;
	width: 55%;
	margin: 0;
	padding: 0;
	list-style: none;
}

dd.Header .Breakdown li {
	float: left;
	width: 50%;
	margin: 0;
}

.ItemsWithCommission dd.Header .Breakdown li,
.ItemsWithSaving dd.Header .Breakdown li {
	width: 33.333333%;
}

dt.Item {
  // The item name
  float: left;
}

dd.Item {
  //	Everything else about the item
  overflow: hidden;
  margin: 0;
  padding: $vertical-spacing 0;
}

dd.Item .ViewDetails {
  // This is a link which opens an inconsistently styled popover repeating the information on the page
  display: none;
}

dd.Item .Details {
	float: left;
	width: 45%;
	@include mq(smartphone) {
		width:auto;
		margin-bottom:10px;
	}
}

dd.Item p {
	margin: 0;
}

dd.Item .Details > * {
	display: block;
}

dd.Item .Details > br {
  // What's that doing there
  display: none;
}

dd.Item .Details .ItemName {
	font-weight: bold;
}

dd.Item .Details .InstanceDate,
dd.Item .Details .InstanceTicketsSummary {
	@include mq(smartphone) {
		font-size:12px;
		display: inline;
	}
}

dd.Item .Details .InstanceTicketsSummary {
	@include mq(smartphone) {
		opacity:0.6;
	}
}


dd.Item .Breakdown {
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	list-style: none;
	@include mq(smartphone) {
		width: auto;
		float:right;
		text-align:right;
		margin:0 0 10px;
	}
}


dd.Item .Breakdown .Label {
	display: none;
	@include mq(smartphone) {
		text-transform: uppercase;
		color: red;
		//font-size: 12px;
		display: block;
		color:#FF5C00;
	}
}

dd.Item .Breakdown li {
	float: left;
	width: 50%;
	@include mq(smartphone) {
		float:none;
		width:auto;
		padding-left:1em;
		display:inline-block;	
	}
}

.ItemsWithCommission dd.Item .Breakdown li,
.ItemsWithSaving dd.Item .Breakdown li {
	width: 33.333333%;
	@include mq(smartphone) {
		width:auto;
	}
}

/* dd.Item .Breakdown li.Commission + li.Total {
	margin-left:0;
	} */

//Work around for maintaining spacing even if Quantity is missing (as it is with donation items)

dd.Item .Breakdown li.Total {
	margin-left:50%;
	@include mq(smartphone) {
		margin-left:0;	
	}
}

dd.Item .Breakdown li.Quantity + li.Total {
	margin-left:0;
}

.ItemsWithCommission dd.Item .Breakdown li.Total,
.ItemsWithSaving dd.Item .Breakdown li.Total  {
	margin-left:66.666666%;
}

.ItemsWithCommission dd.Item .Breakdown li.Quantity + li.Total,
.ItemsWithSaving dd.Item .Breakdown li.Quantity + li.Total {
	margin-left:33.333333%;
}

.ItemsWithCommission dd.Item .Breakdown li.Commission + li.Total,
.ItemsWithSaving dd.Item .Breakdown li.Saving + li.Total {
	margin-left:0;
}


dd.Item .Buttons {
	float: left;
	width: 25%;
	text-align: right;
	@include mq(smartphone) {
		clear:both;
		float:none;
		width: auto;
	}
}

dd.Item .Buttons input {
	display: inline-block;
	@include small-button;
	@include mq(smartphone) {
		height: auto;
		line-height: 1.7;
		margin-right: 10px;
		padding: 4px 11px 0px;
	}
}

dd.Item .Buttons input:last-child {
	margin-right: 0;
}

dt.Footer {
	float: left;
	width: 62.5%;
	width:60%;
	padding: $vertical-spacing 0;
	font-weight: bold;
}

.ItemsWithCommission dt.Footer,
.ItemsWithSaving dt.Footer {
	width:auto;
}

dd.Footer {
	padding: 20px 0;
}

dd.Footer .Breakdown {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	@include mq(smartphone) {
		text-align: right;	
	}
}

.ItemsWithCommission dd.Footer .Breakdown,
.ItemsWithSaving dd.Footer .Breakdown {
	width:30%;
	float:right;
	margin-right:25%;
	@include mq(smartphone) {
		margin-right:0;		
	}
}

.ItemsWithCommission dd.Footer .Breakdown li,
.ItemsWithSaving dd.Footer .Breakdown li {
	width:33.333333%;
	float:right;
	@include mq(smartphone) {
		width:auto;
		padding-left:1em;
	}
}

.ItemsWithCommission dd.Footer .Breakdown li.Commission,
.ItemsWithSaving dd.Footer .Breakdown li.Commission {
	@include mq(smartphone) {
		display: none;	
	}
}


dd.Footer .Breakdown .Label {
	display: none;
}

.ItemsWithCommission dd.Footer .Breakdown .Label,
.ItemsWithSaving dd.Footer .Breakdown .Label {
	@include mq(smartphone) {
		display: block;
		text-transform: uppercase;
		color: #FF5C00;	
	}
}

// Promo Code

.Savings {
	@include well;
	width:50%;
	float:left;
	margin-bottom:$vertical-spacing;
	@include mq(smartphone) {
		float:none;
		width:100%;	
	}
}

.Savings ul:empty {
	display:none;
}

.Savings ul:empty + p {
	margin-top:0;
}

.Savings > h2 {
	margin-top: 0;
}

.Savings > *:last-child {
	margin-bottom: 0;
}

.Savings label {
	display:block;
	width:auto;
}

a.CheckoutLink {
	@include large-button;
	float: right;
}

// Continue shopping button added in by JS (prob should be part of theme)

.ContinueShopping {
	float: right;
	clear: right;
	text-align: center;
}

.ContinueShopping span {
	display: block;
	padding: 10px 0;
}

.ContinueShopping a {
	float: right;
	min-width:194px;
	@include normal-button;
	@include quiet-button;
	@include mq(smartphone) {
		min-width:166px;
	}
}

.PromoCode input[type="text"] {
	max-width: 153px;
	@include mq(smartphone) {
		width:112px;
	}
}

.PromoCode label {
	display: block;
	width: auto;
	margin-bottom: $vertical-spacing;
}


// Merchandise items

dd.Item.Merchandise .Quantity input {
	width:70px;
}

dd.Item.Merchandise .Quantity .ValidationError {
	font-size: .8em;
  color: $error-color !important; // To override inline color:red
  display:inline-block;
}


// Promo area (You may also like…)

.Promo {
	@include well;
	margin-bottom: $vertical-spacing * 2;
	@include mq(smartphone) {
		margin-bottom: $vertical-spacing;
	}
}

.Promo > *:first-child {
	margin-top:0;
}

.PromoItems {
	list-style:none;
	padding:0;
	margin:0;
}

.PromoItems li {
	padding-bottom:$vertical-spacing;
	overflow:hidden;
	min-height:64px;
	@include mq(smartphone) {
		min-height:0;
	}
}

.PromoItems li:last-child {
	min-height:0;
}

.PromoItems li > span:first-child {
	margin-top:11px;
	display:inline-block;
	@include mq(smartphone) {
		margin-bottom:$vertical-spacing;
		margin-top:0;
	}
}

.PromoItems li .AddButton {
	float:right;
}

// Gift Voucher basket items

.Basket2 .AddGiftVoucherRow {
	margin-bottom:$vertical-spacing;
	text-align:right;
}

.Basket2 .AddAnotherGiftVoucher {
	display: inline-block;
	@include small-button;
	@include mq(smartphone) {
		height: auto;
		line-height: 1.7;
		padding: 4px 11px 0px;
	}
}
