
/* Page - Event details */

.SpektrixPage.EventDetails .DetailsContainer {
	margin-bottom:$vertical-spacing;
}

.SpektrixPage.EventDetails .EventDates {
	margin-bottom:$vertical-spacing;
}

.SpektrixPage.EventDetails .SoldOutText {
	display: none;
}