
/* Page - NewAccount */

// Sentence case all progress indicator headings
.SpektrixPage.NewAccount .Progress ol li span span {
	display:inline-block; // Needs to be block for sentence-case mixin to work
	@include sentence-case;
}

// Target the email validation error, which has is missing a class name, and therefore the default error styles
.SpektrixPage.NewAccount .View .Container.Email .ValidationError + span {
	font-size: 0.8em;
	color: $error-color !important;
	margin-left:$form-label-width;
	display:block;
	@include mq(smartphone) {
		margin-left:0;
	}
}

// Address options don't use .Containers, so let's specify a bottom margin for them
.SpektrixPage.NewAccount .View .AddressOption {
	margin-bottom:$vertical-spacing;
}

.SpektrixPage.NewAccount .View .AddressOption label {
	width:auto;
	float:none;
}

.SpektrixPage.NewAccount .View .AddressOption input {
	margin-right: 10px;
}

// Tidy up DOB inputs
.SpektrixPage.NewAccount .View .Container.DateOfBirth input {
	width: 72px !important;
	position: relative;
	top: 2px;
	@include mq(smartphone) {
		width: 53px !important;
		top: 3px;
	}
}

.SpektrixPage.NewAccount .View .Container.DateOfBirth select {
	margin-right:10px;
}

.SpektrixPage.NewAccount .View .Container.DateOfBirth select[id*='Month'] {
	@include mq(smartphone) {
		width: 100px;
	}
}

// Hide inconsistent, lightly confusing, instructive text
// Reads 'Please enter your personal details below:' on NewAccount > Your details
// Reads 'Please check your address and make any changes as necessary.' on NewAccount > Your address
.SpektrixPage.NewAccount .View p.YourDetailsMessage,
.SpektrixPage.NewAccount .View p.AddressMessage {
	display:none;
}

// Hide 'Account preferences' subtitle
// Inception levels of titling on this page: New account > Your Preferences > Your Preferences > Account Preferences
.SpektrixPage.NewAccount .View h3.AccountPreferencesHeading {
	display:none;
}

.Container.Country select {
	max-width:100%;
}

.Container.Postcode input {
	@include mq(smartphone) {
		width: 130px;
	}
}

.Container.Postcode input[type="submit"] {
	position: relative;
	top: -3px;
	margin-right:10px;
	width: 130px;
	@include mq(smartphone) {
		top: -4px;
		width: 104px;
	}
}
