
/* Page - Donations */

.SpektrixPage.Donations .FundContainer {
	margin: 0;
	padding: $vertical-spacing 0;
	border-bottom: 1px solid $divider-color;
	overflow:hidden;
}

.SpektrixPage.Donations .FundContainer .FundContainerTextContent {
	float:left;
	width:50%;
	@include mq(smartphone) {
		float:none;
		width:100%;	
	}
}

.SpektrixPage.Donations .FundContainer .FundHeading:first-letter {
	text-transform: uppercase;
}

.SpektrixPage.Donations .FundContainer h3 {
	margin-top: 0;
}

.SpektrixPage.Donations .DonationAmount {
	float:right;
	@include well;
	@include mq(smartphone) {
		float:none;
		width:100%;	
	}
}

.SpektrixPage.Donations .Buttons .ContinueButton {
	@include large-button;
	@include mq(smartphone) {
			// Button text is long so they're forced into two rows
			margin-bottom:10px;
			margin-right:0;
	}
}

.SpektrixPage.Donations .Buttons .DeclineButton {
	@include normal-button;
}