
/* Page - Choose Seats */

// Hide the instance picker, we've already done that on the previous step.
.SpektrixPage.ChooseSeats .InstanceCalendar {
	display: none;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading {
	float: left;
	clear: both;
	margin: 0 0 10px 0;
	font-weight: normal;
	vertical-align: bottom;
	color: #999;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading > * {
  //vertical-align: bottom;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading .SeatingAreaHeadingLabel {
	color: #222;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading select {
	height: auto;
	padding: 5px 40px 6px 7px;
	font-size: inherit;
	-webkit-appearance: none;
	background:transparent url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="27.71" height="7.69" viewBox="0 0 27.71 7.69"><defs><style>.cls-1{fill:#ccc;}</style></defs><title>Untitled-2</title><path class="cls-1" d="M0.07,0.76L4.5,7.44a0.5,0.5,0,0,0,.87,0L9.8,0.76A0.5,0.5,0,0,0,9.36,0H0.51A0.5,0.5,0,0,0,.07.76Z"/></svg>') center right no-repeat;
}

.SpektrixPage.ChooseSeats .SeatingAreaInstructions {
  //float:left;
}


/* Best Available link */

.SpektrixPage.ChooseSeats .BestAvailableLink {
	float: right;
	margin: 0;
}

.SpektrixPage.ChooseSeats .BestAvailableLink a {
	margin-right: 0;
	@include normal-button;
}


/* Seating selector */

// Remove more all caps optional text
.SpektrixPage.ChooseSeats .SeatingAreaOptionalInstructions {
	display: none;
}

.SpektrixPage.ChooseSeats .SeatingSelector {
	clear: both;
	margin-bottom: 2 * $vertical-spacing;
}

.SpektrixPage.ChooseSeats .SeatingSelector .SeatingArea {
	border: 1px solid #ccc;
}

// In unreserved mode, just a list of fields
.SpektrixPage.ChooseSeats .SeatingSelector .SeatingArea.Unreserved {
	border:0;
	border-bottom: 1px solid $divider-color;
	border-top: 1px solid $divider-color;
	padding-top:1.25em;
}

.SpektrixPage.ChooseSeats .SeatingSelector .SeatingArea.Unreserved .Ticket_Types_Selection {

}

// Make PlanControls sit in a box, instead of the bar which often overlapped the seating and made it unclickable
.SpektrixPage.ChooseSeats .SeatingArea .PlanControls {
	right: 0;
	left: auto;
	width: 164px;
	padding: 7px 12px;
}

// Refresh button feels superfluous
.SpektrixPage.ChooseSeats .RefreshButton {
  //display: none;
  @include large-button;
  @include quiet-button;
  @include mq(smartphone) {
  	font-size:22px;
  }
}

.SpektrixPage.ChooseSeats .UpdateButton {
	@include large-button;
	margin-right:0;// There's a hidden something so the usual :last-child selector isn't working
	@include mq(smartphone) {
		font-size:22px;
	}
}

.SpektrixPage.ChooseSeats .PricesContainer {
	float: left;
	@include well;
	padding-right:0;
}

.SpektrixPage.ChooseSeats .PricesContainer h3 {
	margin-top: 0;
}

.SpektrixPage.ChooseSeats .PricesContainer td,
.SpektrixPage.ChooseSeats .PricesContainer th {
	padding: 10px 20px 10px 0;
}

.SpektrixPage.ChooseSeats .PricesContainer .ImageIcon {
	float: left;
	margin-right: 10px;
	padding: 10px 9px 10px 10px;
	border: 2px solid white;
	border-radius: 4px;
	background: white;
	background-position: 0 -1px;
}

.SpektrixPage.ChooseSeats .PricesContainer .AdditionalChargesContainer {
	margin-top: $vertical-spacing;
}


// Find best available

// Back to select button
.SpektrixPage.ChooseSeats .SelectSeatsLink a {
	@include small-button;
}

.SpektrixPage.ChooseSeats .BestSeatsTable td.TableDataTitle {
	display: block;
	width: 100%;
	padding-bottom:0;
	border-top: 1px solid $divider-color;
	font-weight:bold;
}

.SpektrixPage.ChooseSeats .BestSeatsTable td.TableDataContent {
	display: block;
	overflow: hidden;
	width: 100%;
	padding-left:0;
}

.SpektrixPage.ChooseSeats .BestSeatsQuantity .ErrorMessage {
	font-size: .8em;
	color: $error-color;
	margin: 13px 0 0 0;
	display:block;
}

.SpektrixPage.ChooseSeats .BestSeatsTable tr.BestSeatsRow.BestSeatsBands td.TableDataContent {
	border-bottom: 1px solid $divider-color;
	margin-bottom: $vertical-spacing;
}

.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailableSeatingAreaTable,
.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailablePriceBandTable {
	width: 100%;
}

.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailableSeatingAreaTable tr,
.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailablePriceBandTable tr {
	display:inline-block;
	vertical-align: top;
	width: 33%;
	@include mq(smartphone) {
		width: 100%;	
	}
}

.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailableSeatingAreaTable td,
.SpektrixPage.ChooseSeats .BestSeatsTable .BestAvailablePriceBandTable td {
	width:100%;
	display: block;
}

.SpektrixPage.ChooseSeats .BestSeatsTable .BestSeatsBands input,
.SpektrixPage.ChooseSeats .BestSeatsTable .BestSeatsAreas input {
/* 	display:inline-block;
	margin:3px 10px 0 0;
	vertical-align: top; */
	float:left;
	margin:3px 10px 0 0;
}

.SpektrixPage.ChooseSeats .BestSeatsTable .BestSeatsBands label,
.SpektrixPage.ChooseSeats .BestSeatsTable .BestSeatsAreas label {
	/* display: inline-block; */
	max-width: 82%;
	/* vertical-align: top; */
	float:left;
}

.SpektrixPage.ChooseSeats div.PlanControls div {
	display:inline-block !important;
}