
/* Page - MyAccount */

// Logout button, which has been moved into the header by the JavaScript
h1 .Buttons {
	font-size: 16px;
	float:right;
}

h1 .Buttons .Logout {
	@include small-button;
}

//Subnav

.SpektrixPage.MyAccount .Options ul {
	overflow:hidden;
	padding:0;
	list-style: none;
}

.SpektrixPage.MyAccount .Options li {
	float:left;
}

.SpektrixPage.MyAccount .Options li a {
	display: inline-block;
	padding: 10px 16px;
	background:#eee;
	@include sentence-case;
}

.SpektrixPage.MyAccount .Options li a.Selected {
	color:white;
	background:#333;
}

// Hide 'Account preferences' subtitle
// Inception levels of titling on this page: New account > Your Preferences > Your Preferences > Account Preferences
.SpektrixPage.MyAccount h3.AccountPreferencesHeading {
	display:none;
}

// Let's make these look more like buttons

.SpektrixPage.MyAccount a.ChangePassword {
	@include small-button;
	@include quiet-button;
	margin-left:$form-label-width;
	margin-bottom:$vertical-spacing;
	@include mq(smartphone) {
		margin-left:0;
	}
}

.SpektrixPage.MyAccount a.NewAddress {
	@include small-button;
}

.SpektrixPage.MyAccount .Addresses .Container.Address a {
	@include mini-button;
}

.SpektrixPage.MyAccount .Addresses span.AddressType {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #333;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 6px;
	float: right;
	@include mq(smartphone) {
		padding: 2px 6px 0px;
		float:none;
		margin-bottom:10px;
	}
}

.SpektrixPage.MyAccount .Addresses .Account_Detail.Address {
	margin-bottom: 10px;
	display: inline-block;
	@include mq(smartphone) {
		display: block;
	}
}

.SpektrixPage.MyAccount .Addresses .Container.Address {
	display:block;
	border-bottom:1px solid $divider-color;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

// Tidy up DOB inputs
.SpektrixPage.MyAccount .Container.DateOfBirth input {
	width: 72px !important;
	position: relative;
	top: 2px;
}

.SpektrixPage.MyAccount .Container.DateOfBirth select {
	margin-right:10px;
}

.SpektrixPage.MyAccount .MyDetailsHeading, 
.SpektrixPage.MyAccount .MyAddressesHeading, 
.SpektrixPage.MyAccount .MyPreferencesHeading, 
.SpektrixPage.MyAccount .MyOffersHeading {
	@include sentence-case;
}

