
/* Page - Event details */

.SpektrixPage.EventDetails .DetailsContainer {
	margin-bottom:$vertical-spacing;
	max-width:50%;
	@include mq(smartphone) {
		max-width:none;
	}
}

.SpektrixPage.EventDetails .EventDates {
	margin-bottom:$vertical-spacing;
}

.SpektrixPage.EventDetails .SoldOutText {
	display: none;
}