
/* Page - Donations */

.SpektrixPage.Donations .FundContainer {
	margin: 0;
	padding: $vertical-spacing 0;
	border-bottom: 1px solid $divider-color;
	overflow:hidden;
}

.SpektrixPage.Donations .FundContainer .FundContainerTextContent {
	float:left;
	width:50%;
}

.SpektrixPage.Donations .FundContainer h3 {
	margin-top: 0;
}

.SpektrixPage.Donations .DonationAmount {
	float:right;
	@include well;
}

.SpektrixPage.Donations .Buttons .ContinueButton {
	@include large-button;
}