
/* Page - NewAccount */

.SpektrixPage.NewAccount .View .Container.Email .ValidationError + span { // Target the email validation error, which has no classname
	font-size: 0.8em;
}

.SpektrixPage.NewAccount .View .AddressOption {
	margin-bottom:20px;
}

.SpektrixPage.NewAccount .View .AddressOption label {
	width:auto;
	float:none;
}

.SpektrixPage.NewAccount .View .AddressOption input {
	margin-right: 10px;
}
