
/* Page - LoginLogout */

.SpektrixPage.LoginLogout .OptionalMessage {
	display: none;
}

.SpektrixPage.LoginLogout .Buttons {
	margin-left:$form-label-width;
}

.SpektrixPage.LoginLogout .Account_Link {
	margin-left:$form-label-width;
}

.SpektrixPage.LoginLogout .Button.Login {
	@include large-button;
}