
/* Page - EditTickets */

// Superfluous text - Hide 'Please select the type of tickets you would like.' message
.SpektrixPage.EditTickets p.Message {
	display:none;
}

.SpektrixPage.EditTickets .ChangeMySeatsLink {
	@include normal-button;
	@include sentence-case;
}

.SpektrixPage.EditTickets .Details table {
	width:100%;
}

.SpektrixPage.EditTickets .Details table tr {
	border-bottom:1px solid $divider-color;
}

.SpektrixPage.EditTickets .Details table th {
	text-align: left;
}

.SpektrixPage.EditTickets .Details table td.SeatName {
	letter-spacing: 3px;
}

.SpektrixPage.EditTickets .Details table .Delete.Column {
	text-align: center;
}

.SpektrixPage.EditTickets .Buttons input[type="submit"] {
	@include large-button;
}