
/* Page - Choose Seats */

// Hide the instance picker, we've already done that on the previous step.
.SpektrixPage.ChooseSeats .InstanceCalendar {
	display: none;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading {
	font-weight: normal;
	vertical-align: bottom;
	clear:both;
	float:left;
	margin:0 0 10px 0;
	color:#999;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading > * {
	//vertical-align: bottom;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading .SeatingAreaHeadingLabel {
	color:#222;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading select {
	-webkit-appearance: none;
	padding: 10px 40px 5px 10px;
	height: auto;
	font-size:inherit;
}

.SpektrixPage.ChooseSeats .SeatingAreaInstructions {
	//float:left;
}

.SpektrixPage.ChooseSeats .BestAvailableLink {
	float:right;
	margin:0;
}

.SpektrixPage.ChooseSeats .BestAvailableLink a {
	@include normal-button;
	margin-right:0;
}

// Remove more all caps optional text
.SpektrixPage.ChooseSeats .SeatingAreaOptionalInstructions {
	display: none;
}

.SpektrixPage.ChooseSeats .SeatingSelector {
	border: 1px solid #ccc;
	margin-bottom:2 * $vertical-spacing;
	clear:both;
}

// Make PlanControls sit in a box, instead of the bar which often overlapped the seating and made it unclickable
.SpektrixPage.ChooseSeats .SeatingArea .PlanControls {
	right: 0;
	left:auto;
	width: 164px;
	padding: 7px 12px;
}

// Refresh button feels superfluous
.SpektrixPage.ChooseSeats .RefreshButton {
	//display: none;
	@include large-button;
	@include quiet-button;
}

.SpektrixPage.ChooseSeats .Buttons {
	float:right;
}

.SpektrixPage.ChooseSeats .UpdateButton {
	@include large-button;
}

.SpektrixPage.ChooseSeats .PricesContainer {
	@include well;
	float:left;
}

.SpektrixPage.ChooseSeats .PricesContainer h3 {
	margin-top:0;
}

.SpektrixPage.ChooseSeats .PricesContainer td,
.SpektrixPage.ChooseSeats .PricesContainer th {
	padding: 10px 20px 10px 0;
}

.SpektrixPage.ChooseSeats .PricesContainer .ImageIcon {
	padding: 10px 9px 10px 10px;
	border-radius: 4px;
	background: white;
	border: 2px solid white;
	background-position: 0px -1px;
	float: left;
	margin-right: 10px;
}

.SpektrixPage.ChooseSeats .PricesContainer .AdditionalChargesContainer {
	margin-top:$vertical-spacing;
}