
/* Page - NewAccount */

.SpektrixPage.NewAccount .View label {
	width:200px;
	display: inline-block;
}

.SpektrixPage.NewAccount .View .Container {
	margin-bottom:20px;
}

.SpektrixPage.NewAccount .View .Comment {
	display:block;
}

.SpektrixPage.NewAccount .View .AddressOption label {
	width:auto;
}

.SpektrixPage.NewAccount .View .Input_Checkbox label {
	width:auto;
}