
/* Page - EditAddress */

.SpektrixPage.EditAddress .AddressOptions .Option {
	margin-left:$form-label-width;
	margin-bottom:$vertical-spacing;
	padding-left:25px;
	@include mq(smartphone) {
		margin-left:0;
	}
}

.SpektrixPage.EditAddress .AddressOptions .Option input {
	float: left;
	margin-left:-25px;
}

// Address options don't use .Containers, so let's specify a bottom margin for them
.SpektrixPage.EditAddress .Addresses .AddressOption {
	margin-bottom:$vertical-spacing;
	padding-left:25px;
}

.SpektrixPage.EditAddress .Addresses .AddressOption label {
	width:auto;
}

.SpektrixPage.EditAddress .Addresses .AddressOption input {
	float: left;
	margin-left:-25px;
	margin-top: 1px;
}