
/* Theme */

$red:#ef192d;
$yellow:#ffe000;

$mint:#45ea9f;
$indigo:#3300FF;//#4B00FF;//#1d00ff;
$turquoise:#00E6FF;

$mid-purple:#3B1F60;//#49194E;
$dusty-purple:#040016;//#38323D;
$purple-for-text:#4729A5;
$logo-purple:#822D8A;


.SpektrixPage {
    padding: 0;
    @include clearfix;
    @include mq(smartphone) {
        padding:0;   
    }
}

body,
button,
input,
select,
textarea {
	font-family:'Radikal W01';
	font-size:16.1px;
}

body {
	font-family:'Radikal W01';
	font-size:16.1px;
	@include mq(smartphone) {
		font-size:14.1px;
	}
}

a {
	color:red;
}

a:hover {
	color:$indigo;
}

#mfPreviewBar,
div#mfPreviewBarShow {
	display:none;
}



h1 {
	font-size: 2.5em;
	font-weight:normal;
	border:0;
	padding:0;
	@include mq(smartphone) {
		font-size: 1.6em;
		margin: 0 0 0.7em 0; 
	}
}

h2 {
	font-weight:normal;
	@include mq(smartphone) {
		font-size: 1.4em;
		margin: 0.5em 0;
	}
}

.booking-for {
	font-size: 1em;
	max-width: 40%;
	text-align: right;
}

.booking-for b {
	font-family:'BT Clarendon W01';
	font-weight:normal;
	font-size: 1.1em;
	color: #822d8a;
	white-space: nowrap;
}


/* Basket2 */

dt.Header,
dd.Header {
	@include red-caps;
}

dd.Item .Details {
	line-height:1.7;
}


/* ChooseSeats */

//Hide the event name and time
.SpektrixPage.ChooseSeats .ChooseSeatsHeading + .Event {
	display: none;
}

.SpektrixPage.ChooseSeats .AdditionalsContainer {
	clear:both;
	margin-top:$vertical-spacing;
}

.SpektrixPage.ChooseSeats .AdditionalChargesContainer {
	padding-left:0;
}

.SpektrixPage.ChooseSeats .AdditionalChargesContainer .Asterix {
	display:none;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading span,
.SpektrixPage.ChooseSeats .SeatingAreaHeading select {
	color:$purple-for-text;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeadingLabel {
	color:#222;
}

.SpektrixPage.ChooseSeats .SeatingAreaHeading {
	color:$purple-for-text;
}


/* NewAccount */

.SpektrixPage.NewAccount .Progress ol {
	background:#C2F6FF;
	border:0;
}

.SpektrixPage.NewAccount .Progress ol {
	background:#C2F6FF;
	border:0;
}

.SpektrixPage.NewAccount .Progress ol li span:before {
	background: #fff;
}

.SpektrixPage.NewAccount .Progress ol li span.Current:before {
	border:3px solid $mid-purple;
	background:$yellow;
}


/* EditTickets */

.SpektrixPage.EditTickets .Details table th {
	@include red-caps;
	@include mq(smartphone) {
		font-size: 12.1px;		
	}
}


/* MyAccount */

.SpektrixPage.MyAccount .Options li a {
	background:#C2F6FF;
	text-decoration:none;
	color:#333;
	@include transition(background .2s);
}

.SpektrixPage.MyAccount .Options li a:hover {
	background:darken(#C2F6FF, 10%);
}

.SpektrixPage.MyAccount .Options li a.Selected {
	background:$mid-purple;
} 


/* Memberships */

.SpektrixPage.Memberships .Membership .Details ul li .Label {
	@include red-caps;
}


/* GiftAidDeclarationForm */

.SpektrixPage.GiftAidDeclarationForm .GiftAidDeclarationFormDescriptionSimple {
	font-size:24px;
	@include mq(smartphone) {
		font-size:18px;
	}
}

.SpektrixPage.GiftAidDeclarationForm .GiftAidFormSimple {
	padding: 20px;
	padding-left: 46px;
	background: #ABF2F9;
}

.SpektrixPage.GiftAidDeclarationForm .GiftAidFormSimple input {
	float: left;
	margin-left: -25px;
	margin-top: 7px;
}

.SpektrixPage.GiftAidDeclarationForm .GiftAidFormSimple label {
	font-size: 24px;
	@include mq(smartphone) {
		font-size:18px;
	}
}

.SpektrixPage.GiftAidDeclarationForm .GiftAidNote {
	font-size: 14px;
	margin-bottom:0;
}

.SpektrixPage.GiftAidDeclarationForm h1.GiftAidDeclarationFormHeading {
	@include kellum;
	width:200px;
	height:70px;
	background:url(http://33a1c0f4.ngrok.com/assets/img/logo-gift-aid.png) left top no-repeat;
} 


// Monthlist

.MonthList li a {
	background:#C2F6FF;
	text-decoration:none;
	@include transition(all .2s);
}

.MonthList li a:hover {
	background:$mid-purple;
	color:white;
	text-decoration:none;
}

.MonthList li:nth-child(odd) a {
	background:darken(#C2F6FF, 10%);
}

.MonthList li:nth-child(odd) a:hover {
	background:$mid-purple;
	color:white;
}
