
/* Monthlist */

.MonthList {
	padding: 0 0 0 4px;
	list-style: none;
}

.MonthList li {
	font-size:0; // Hide pesky &nbsp;s
	display: inline-block;
}

.MonthList li a {
	margin-left: -4px;
	font-size:16.1px;
	display: inline-block;
	padding: 10px 16px;
	background:#eee;
}

.MonthList li:nth-child(odd) a {
	background:darken(#eee, 10%);
}