
/* Base */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   * {
    box-sizing:border-box;
}


// Wrapper for everything

.SpektrixPage {
    padding: 40px;
    @include clearfix;
    @include mq(smartphone) {
        padding:15px;   
    }
}

.SpektrixFooter {
    display:none;
}

// Properly capitalise all main headings
h1 {
    @include sentence-case;
}

// Hide empty <p>'s, <span>'s and WikiText holders

p:empty,
span:empty,
div:empty,
div[class$="WikiText"]:empty,
div[class$="WikiText"] > div:empty {
    display: none !important;
}


// Page titles

h1 {
    margin-top:0;
    padding-bottom: 14px;
    border-bottom: 1px dashed $divider-color;
    @include mq(smartphone) {
        font-size: 1.6em; // CHECK
        margin: 0 0 0.7em 0; // CHECK
    }
}


// The 'which show you're booking for' reminder

.booking-for {
    float: right;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    max-width: 40%;
    text-align: right;
    @include mq(small-smartphone) {
        max-width:none;
        text-align: left;
        float: none;
        display: block;
        margin-bottom:$vertical-spacing;
    }
}

.booking-for em { 
    font-style: normal;
    @include mq(smartphone) {
        display:none;   
    }
}




// Default button styles

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include normal-button;
}


// Default input styles

input[type="text"],
input[type="email"],
input[type="password"],
select {
    display: inline-block;
    //width: 172px;
    vertical-align: baseline;
    height: 44px;
    padding: 4px 12px 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    @include transition(border-color ease-in-out .15s);
    margin-right:10px;
    @include mq(smartphone) {
        padding: 1px 6px 0;
        height:34px;   
    }
}

textarea {
    display: inline-block;
    //width: 172px;
    width: 195px;
    height: 150px;
    padding: 4px 12px 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    @include transition(border-color ease-in-out .15s);
    margin-right:10px;
    @include mq(smartphone) {
        padding: 1px 6px 0;
        height:100px;
        width: 183px;
    }
}


// Default table styles

table th,
table td {
    padding: 20px 20px 20px 0;
}


// General form stuff


p.ErrorMessage,
div.ErrorMessage {
    @include well;
    padding: 10px 14px;
    //color: $error-color !important; // To override inline color:red
    background: lighten($error-color, 50%);
    margin: $vertical-spacing 0;
    color: $error-color; // There isn't always a span so we need this here too
}

p.ErrorMessage span,
div.ErrorMessage span {
    color: $error-color !important; // To override inline color:red
}

.Container label {
    width:$form-label-width;
    display: inline-block;
    //float: left;
    @include mq(smartphone) {
        display: block;
        margin-bottom: 4px;
    }
}

.Container label.right {
    width:auto;
    float: none;
    font-size:.8em;
    @include mq(smartphone) {
        display: inline-block;
    }
}

.Container {
  // Need to be sure this is only ever a wrapper for form-groups
  margin-bottom: $vertical-spacing;
}

.Container .ValidationError {
    font-size: .8em;
    color: $error-color !important; // To override inline color:red
    margin: 13px 0 0 0;
    display:block;
    margin-left:$form-label-width;
    @include mq(smartphone) {
        margin-left:0;
    }
}

.Container .ValidationError br {
    //Hide unnecessary <br>s
    display:none;
}

.Container .Comment {
    display: block;
    font-size: .8em;
    margin: 13px 0 0 204px;
    width: 200px;
    opacity: 0.7;
    @include mq(smartphone) {
        margin-left:0;
    }
}


.Input_Checkbox {
    padding-left: 25px;
    display: block;
}

.Input_Checkbox label {
    width:auto;
    float:none
}

.Input_Checkbox input {
    float:left;
    margin-left:-25px;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 35em) {

   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}