
/* Variables */


// Colors

$divider-color: #eee;//#aaa;
$error-color: #DB0303;
$success-color: #00FF96;


// Spacing

$vertical-spacing: 1.25em;
$form-label-width: 200px;


//Buttons

//Defaults
$button-text: white;
$button-background: #0c6db0;
$button-radius: 3px;

//Theme
$button-text: #ef192d;
$button-background: #ffe000;
$button-radius: 0;