
@import "normalize.min";
@import "colors";
@import "mixins";
@import "base";

//@import "modules/site-header";
//@import "modules/site-footer";

$divider-color: #aaa;
$button-color: #0c6db0;

$vertical-spacing: 20px;

@mixin well {
	padding: 20px;
	background: #eee;
	border-radius:6px;
}

// Common elements

p:empty {
	display: none;
}

div[class$="WikiText"]:empty,
div[class$="WikiText"] > div:empty {
	display: none;
}

h1 {
	margin-top:0;
	padding-bottom: 14px;
	border-bottom: 1px dashed $divider-color;
}

.booking-for {
	float: right;
	font-size: 12px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 5px 11px 4px;
	color: white;
	border: 0;
	border-radius: 3px;
	background-color: $button-color;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: lighten($button-color,10%);
}

table th,
table td {
	padding: 6px;
}


// Wrapper for everything
.SpektrixPage {
	padding: 40px;
}

// Lists of months

.MonthList {
	padding: 0;
	list-style: none;
}

.MonthList li {
	display: inline-block;
	margin-right: 20px;
}

// Individual pages




// Main title on each page

// Events List

.SpektrixPage.EventsList .Event_Text {
	overflow:hidden;
	padding:$vertical-spacing 0;
} 

.SpektrixPage.EventsList .Event_Text > * {
	float:left;
} 

.SpektrixPage.EventsList .Event_Name {
	width:30%;
} 

.SpektrixPage.EventsList .Event_Description {
	width:20%;
	min-height: 1px;
} 

.SpektrixPage.EventsList .Event_Dates {
	width:30%;
}

.SpektrixPage.EventsList .Event_Dates .Dates_Heading {
	display:none;
} 


.SpektrixPage.EventsList .More_Info {
	width:20%;
	float:right;
} 



/* Choose Seats */

// Hide the instance picker, we've already done that on the previous step.
.SpektrixPage.ChooseSeats .InstanceCalendar {
	display: none;
}

//Basket



dd {
	margin: 0;
}

.Items {
  // This is the main basket table
  margin: 2em 0;
}

dd.Item,
dd.Footer {
	border-top: 1px solid $divider-color;
}

dt.Header {
	float: left;
	width: 50%;
	padding-bottom: $vertical-spacing;
	font-weight: bold;
}

dd.Header {
	overflow: hidden;
	padding-bottom: $vertical-spacing;
	font-weight: bold;
}

dd.Header .Breakdown {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	list-style: none;
}

dd.Header .Breakdown li {
	float: left;
	width: 50%;
	margin: 0;
}


dt.Item {
  // The item name
  float: left;
}

dd.Item {
  //	Everything else about the item
  overflow: hidden;
  margin: 0;
  padding: $vertical-spacing 0;
}

dd.Item .ViewDetails {
  // This is a link which opens an inconsistently styled popover repeating the information on the page
  display: none;
}

dd.Item .Details {
	float: left;
	width: 50%;
}

dd.Item .Breakdown {
	float: left;
	width: 25%;
}

dd.Item .Buttons {
	float: left;
	width: 25%;
}

dd.Item p {
	margin: 0;
}

dd.Item .Details > * {
	display: block;
}

dd.Item .Details > br {
  // What's that doing there
  display: none;
}

dd.Item .Details .ItemName {
	font-weight: bold;
}

dd.Item .Breakdown {
	margin: 0;
	padding: 0;
	list-style: none;
}

dd.Item .Breakdown .Label {
	display: none;
}

dd.Item .Breakdown li {
	float: left;
	width: 50%;
}

dd.Item .Buttons {
	text-align: right;
}

dd.Item .Buttons input {
	display: inline-block;
}

dt.Footer {
	float: left;
	width: 62.5%;
	padding: $vertical-spacing 0;
	font-weight: bold;
}

dd.Footer {
	padding: 20px 0;
}

dd.Footer .Breakdown {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
}

dd.Footer .Breakdown .Label {
	display: none;
}

.Savings {
	@include well;
}

.Savings > h2 {
	margin-top: 0;
}


// Login Logout

.SpektrixPage.LoginLogout {

}

.SpektrixPage.LoginLogout .OptionalMessage {
	display: none;
}

.LoginForm > div {
	margin-bottom:20px;
}

.LoginForm label {
	width:200px;
	display: inline-block;

}

// NewAccount

.SpektrixPage.NewAccount {

}

.SpektrixPage.NewAccount .View label {
	width:200px;
	display: inline-block;
}

.SpektrixPage.NewAccount .View .Container {
	margin-bottom:20px;
}

.SpektrixPage.NewAccount .View .Comment {
	display:block;
}

.SpektrixPage.NewAccount .View .AddressOption label {
	width:auto;
}

.SpektrixPage.NewAccount .View .Input_Checkbox label {
	width:auto;
}

