
@import "normalize.min";
@import "variables";
@import "mixins";
@import "base";


// Modules

@import "modules/monthlist";


// Pages

@import "pages/page-eventslist";
@import "pages/page-chooseseats";
@import "pages/page-loginlogout";
@import "pages/page-basket2";
@import "pages/page-newaccount";
@import "pages/page-changepassword";
@import "pages/page-myaccount";
@import "pages/page-donations";

// Theme

@import "theme";

// General form stuff


p.ErrorMessage {
	@include well;
	padding: 10px 14px;
	//color: $error-color !important; // To override inline color:red
	background: lighten($error-color, 50%);
}

p.ErrorMessage span {
	color: $error-color !important; // To override inline color:red
}

.Container label {
	width:200px;
	display: inline-block;
	//float: left;
}

.Container label.right {
	width:auto;
	float: none;
	font-size:.8em;
}

.Container {
  // Need to be sure this is only ever a wrapper for form-groups
  margin-bottom: 20px;
}

.Container .ValidationError {
	font-size: .8em;
	color: $error-color !important; // To override inline color:red
	margin: 13px 0 0 0;
	display:block;
}

.Container .ValidationError br {
	//Hide unnecessary <br>s
	display:none;
}

.Container .Comment {
	display: block;
	font-size: .8em;
	margin: 13px 0 0 204px;
	width: 200px;
	opacity: 0.7;
}

.Input_Checkbox label {
	width:auto;
	float:none
}

.Input_Checkbox input {
	margin-right: 10px;
}


.Progress ol li span.Current {

}

// Default <table> styles

table th,
table td {
	padding: 10px 20px 10px 0;
}

