* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

/**
 * General html styles.
**/
body
{
  color:#40362a;
  font:16px "Trebuchet MS", Helvetica, sans-serif;
  font-weight:400;
  line-height:1.6;
  padding:0;
  background: white;
  overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6
{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-weight:normal !important;
  text-rendering:optimizeLegibility;
  margin: 0px;
}
h1, h1 a
{
  font-size:42px;
  line-height:1.14;
  padding:0 0 18px;
}
h2, h2 a
{
  font-size:32px;
  line-height:1.125;
  padding:40px 0 8px;
}
h3, h3 a {
  font-size:24px;
  line-height:1.25;
  padding:38px 0 10px;
}
h4, h4 a {
  font-size:18px;
  line-height:1.33;
  padding:38px 0 12px;
}
h5, h5 a {
  font-size:16px;
  font-weight:400 !important;
  letter-spacing:1px;
  line-height:1.125;
  padding:38px 0 14px;
  text-transform:uppercase;
}
h6, h6 a {
  font-size:16px;
  line-height:1.5;
  padding:38px 0 10px;
}

a:link, a:visited, a:active, .MyAccount a[disabled="disabled"]
{
  color:#3A5D66;
  text-decoration:none;
  font-weight: bold;
}
a:hover, a:active
{
  text-decoration:underline;
}
a:focus {
  outline:thin dotted;
}
a:hover, a:active {
  outline:0;
}

a:focus, button:focus, input:focus, label:focus, select:focus, textarea:focus {
  outline:1px dotted #3A5D66;
}

/* Put all the transition elements here */
//tables one
table
{
  border-spacing:0;
  padding:10px 0;
  border-collapse: collapse;
  font-family: arial,helvetica,clean,sans-serif;
  font-size: 14px;
}
table td, table th
{
  text-align: left;
  margin: 0px;
  font-size: 15px;
  padding: 2px 6px;
}
table th
{
  font-weight: bold;
  padding: 4px 6px;
  background-color: #E2E2E2;
}
table button, table input {
  *overflow:auto;
}
p
{
  margin: 0;
  padding:0 0 12px;
  display: block;
}

/**
 * General form styles
 */
dd {
  margin:0 0 0 40px;
}
ul, ol {
  padding:10px 10px 10px 30px;
}
ul li {
  list-style:square;
  padding:0 0 8px 10px;
}

ol {  }
ol li {
  list-style:decimal;
  margin:0 0 0 10px;
  padding:0 0 8px 0;
}

nav ul, nav ol, nav li {
  background:none;
  margin:0;
  padding:0;
}

blockquote {
  color:#a9a49f;
  font-size:17px;
  font-style:italic;
  line-height:1.41;
  padding:24px 0;
}

blockquote p {
  padding:0;
}

img {
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow:hidden;
}

/* Figures */
figure {
  margin:0;
}
/* Forms */
form {
  margin:0;
}

fieldset {
  border:0;
  margin:0;
  padding:0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor:pointer;
  font-weight:700;
}

legend {
  border:0;
  *margin-left:-7px;
  padding:0;
}

button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

button, input {
  line-height:normal;
  *overflow:visible;
}

button:active, .button:active {
  position:relative;
  top:1px;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
  *overflow:auto;
}

button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type='file'] {
  cursor:pointer;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance:button;
}

/* Consistent box sizing and appearance  */
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
  *width:13px;
  *height:13px;
}

input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}

input[type='text'], input[type='email'], input[type='password'], input[type='url'], input[type='search'], textarea {
  border:1px solid #25393E;
  padding: 5px;
}

textarea {
  overflow:auto;
  vertical-align:top; resize:vertical;
}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }

/*Tables*/
table {
  border-collapse:collapse;
  border-spacing:0;
  padding:10px 0;
}
td, th {
  padding:5px;
}
th {
  font-weight:700;
}
td { vertical-align:top; }

::-moz-selection { background:#3A5D66; color:#40362a; text-shadow:none; }
::selection { background:#3A5D66; color:#40362a; text-shadow:none; }
::-webkit-input-placeholder { color:#5c544a; font-family:"Trebuchet MS", Helvetica, sans-serif; }
:-moz-placeholder { color:#5c544a; font-family:"Trebuchet MS", Helvetica, sans-serif; }

/* CLASSES */
/**/
.Container
{
  display: block;
  margin: 6px 0px;
}
.Container .left
{
  display: block;
  clear: both;
  margin-bottom: 2px;
  color: #40362a;
  font-style: italic;
}
.Container .right
{
  display: inline;
  color: #40362a;
}
.Container .Comment
{
  display: block;
  font-size: 11px;
  color: #40362a;
}
.Container br
{
  display: none;
}
.Container .ValidationError
{
  display: block;
}


/**
 * General button styles
 */
.Buttons
{
  padding: 8px 0px;
  vertical-align: bottom;
  clear: both;
}
.Button, .LinkButton, #ctl00_ContentPlaceHolder_WhatsOnLink
{
  background-color:#25393E;
  border:none;
  clear:both;
  color:#FFFFFF;
  font-family:"Trebuchet MS", Helvetica, sans-serif;;
  font-size:16px;
  padding:7px 10px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: Capitalize;
}

.Button:hover, .LinkButton:hover, #ctl00_ContentPlaceHolder_WhatsOnLink:hover {
  background-color:#3A5D66;
  color: #fff;
  text-decoration:none;
}



/**
 * Other general styles
 */
.ExtraDiv
{
  display: none;
}
.ErrorMessage
{
  color:  #BA0422;
}


/**
 * Styles for the 'progress' controls (used in the checkout and new account pages)
 */
.Progress
{
  display: block;
  margin-bottom: 34px;
}
.Progress ol
{
  margin: 0px;
  padding-left: 0px;
}
.Progress li
{
  float: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.Progress .Done, .Progress .Current, .Progress .NotDone
{
  background-image: url('forwardarrow.gif');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 32px;
  margin-right: 8px;
}
.Progress .Current
{
  font-weight: bold;
}
.Progress .Final
{
  background-image: none;
  clear: right;
}
.Progress a
{
  text-decoration: none;
}



/**
 * Styles for the 'options' controls (used in the my account, calendar and event
 * list pages to switch view/change month etc)
 */
.Options
{
  margin: 0px 0px 12px 0px;
  padding: 0px;
}
.Options ul
{
  padding: 0px;
  margin: 0px;
}
.Options li
{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Options li *
{
  margin-right: 22px;
}


/**
 * Styles specific to the ChooseSeats screen.
 */
.ChooseSeats .SeatingAreaHeading
{
  margin-top: 18px;
  padding:0;
}
.ChooseSeats .SeatingAreaHeading a
{
  color: White !important;
}
.ChooseSeats .Input_Text
{
  width: 40px;
  border:1px solid #25393E;
  text-align:center;
  padding:5px;
}

.ChooseSeats .SeatingAreaOptionalInstructions
{
  display: none;
}
.ChooseSeats .SeatingSelector
{
  text-align: center;
  padding: 12px;
  width: 100%;
}
.ChooseSeats .SeatingSelector div div
{
  text-align: left;
}
.ChooseSeats .SeatingArea
{
  display: inline-block;
  width: 100%;
}
* html .ChooseSeats .SeatingArea /* for inline block in IE6 */
{
  display: inline;
}
.ChooseSeats .PricesHeading
{
  margin-top: 12px;
  margin-bottom: 4px;
  z-index: 100;
  display: block;
}
.ChooseSeats .PriceListTable td *
{
  vertical-align: middle;
}
.ChooseSeats .PriceListTable td img
{
  position: relative;
  top: -2px;
  margin-right: 6px;
}
.ChooseSeats .PriceListTable th
{
  padding-top: 2px;
}
.ChooseSeats .PriceListTable .TicketType
{
  width: 90px;
}
.ChooseSeats .PriceListTable .PriceBand
{
  width: 150px;
}

.ChooseSeats #ctl00_ContentPlaceHolder_RelatedOffersControl1_LoginForDiscounts
{
    display:none;
}
.ChooseSeats .Event .EventName
{
    font-weight: bold;
    font-size: 17px;
}
/**
 * Styles specific to the Basket
 */
.Basket .TicketsTotal, .Basket .DonationsTotal, .BasketTotal
{
}
.Basket .OptionalMessage
{
  color:  #F02521;
}
.Basket .TicketsHeading
{
  margin-bottom: 8px;
}
.Basket .EventName
{
  margin-right: 24px;
}
.Basket .AreaLink
{
  display: inline;
}
.Basket table
{
  margin: 4px 0 12px 0;
  width: 100%;
}
.Basket table .Seat_Number
{
  width: 120px;
}
.Basket table .Type
{
}
.Basket table .Total
{
  width: 150px;
  text-align: left;
}
.Basket table select
{
  width: 100%;
}
.Basket table .Delete
{
  width: 65px;
  text-align: right;
}
.Basket .DonationsHeading
{
  margin-top: 20px;
  display: block;
}
.Basket .Fund_Name
{
  width: 352px;
}
.Basket .DonationInput input
{
  width: 80px;
}
.Basket .AddDonationsLink
{
  display: block;
  position: relative;
}
.Basket .CheckoutLink
{
  float: right;
  position: relative;
  top: 4px;
}


/**
 * Styles specific to the Basket
 */
.Basket2
{
  position: relative;
  font-size: 90%;
}
.NewAccount h1 {
}
.Basket2 h1 {
}
.Basket2 .Items
{
  float: left;
  width: 99%;
  padding: 0;
  margin: 0;
}
.Basket2 .Items p
{
  margin: 0 0 6px;
}
.Basket2 .Items a
{
  font-size: 75%;
}
.Basket2 .Items dt
{
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 8px 0;
  width: 365px;

}
.Basket2 .Items dd
{
  color: Gray;
  padding: 0 0 8px;
  margin: 0 0 0px 0;
  position: relative;
  border-bottom: 1px solid #dbd9d6;
}
.Basket2 .Items .Breakdown li
{
  position: absolute;
  top: -22px;
  color: Black;
  display: block;
  width: 100%;
  text-align: right;
}
.Basket2 .Items .Total
{
  right: 0;
  font-weight: bold;
}
.Basket2 .Items .Saving
{
  right: 140px;
  font-weight: bold;
  color: #F02521 !important;
}
.Basket2 .Items .Quantity
{
  right: 210px;
}
.Basket2 .Items .Commission
{
  right: 70px;
}
.Basket2 .Items .GrandTotal
{
}
.Basket2 .Items .Label
{
  display: none;
}
.Basket2 .Items dd ul.Breakdown
{
  padding: 0;
  list-style-type: none;
  min-height: 17px;
}
.Basket2 .Items .ViewDetails
{
  margin: 0;
}
.Basket2 .Items .Buttons
{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px;
}
.Basket2 .Items .Button
{
    font-size: 14px;
}
.Basket2 .Items .Promo
{
  font-weight: bold;
  background-color:#f8f7f7;
  padding: 8px;
  width: 100%;
}
.Basket2 .Items .Promo a
{
  font-size: inherit;
}
.Basket2 .Items .Promo a:hover
{
  color: #d9d7d4;
}
.Basket2 .Items dd.Promo
{
  padding: 0 8px 8px;
  border: none;
}
.Basket2 .Items .Promo ul
{
  padding-left: 18px;
}
.Basket2 .Items .PromoItems li
{
  clear: both;
  line-height: 20px;
  vertical-align: middle;
  color: Black;
  list-style-image: url(arrow_bl.png);
  position: relative;
}
.Basket2 .Items .PromoItems li *
{
  vertical-align: middle;
}
.Basket2 .Items .PromoItems li .AddButton
{
  bottom: 0;
    position: relative;
    right: 0;
    text-align: right;
    float: right;
}
.Basket2 .Items dd.Header, .Basket2 .Items dd.Footer
{
  padding: 0;
  margin: 0;
}
.Basket2 .Items dt.Header
{
  border: none;
  min-height: 0;
  margin-bottom: 0;
  padding-bottom: 2px;
}
.Basket2 .Items .Header
{
  font-weight: normal !important;
  font-style: italic;
}
.Basket2 .Items .Header *
{
  font-weight: normal !important;
  font-style: italic;
}
.Basket2 .Items .Header .Breakdown li
{
  top: -19px;
}

.Basket2 ul
{
  margin: 0;
}
.Basket2 .Items dd.Total, .Items dd.Fee
{
  padding: 0;
}
.Basket2 .Details *
{
  color: Gray;
  font-size: 8pt;
}
.Basket2 .Details table td, .Details table th
{
  padding-right: 10px;
  text-align: left;
}
.Basket2 .Savings
{
    padding: 25px;
  display: block;
  text-align: left;
  background-color: #f8f7f7;
  border-radius: 20px;
  margin: 15px 0px;
}
.Basket2 .Savings h2
{
  margin-top: 0;
  font-size: 190%;
  padding: 0px;
  margin: 0px;
  background: none;
  color: #25393E;
  text-indent: 0px;
  margin-bottom: 15px;
}
.Basket2 .PromoCode .Button
{
  margin-top: 10px;
}
.Basket2 .CheckoutLink
{
    text-decoration: none;
    color: White;
    position:relative;

}
.Basket2 .CheckoutLink:hover
{
    text-decoration: none;
}
.Basket2 .Buttons
{
    margin-top: 20px;
}

/**
 * Styles specific to the EventList page.
 */
.EventsList .WhatsOnHeading
{
}
.EventsList .MonthList
{
  margin-bottom: 8px;
  position: relative;
  font-size: 13px;
}
.EventsList .SearchDescription
{
  background-color: #F02521;
  display: block;
  padding: 5px 0;
  color: White;
  margin-bottom: 8px;
  text-indent: 6px;
  font-size: 14px;
}
.EventsList .Events
{
}
.EventsList .Event
{
  background-image: url(event-list-bg.gif);
  background-repeat: repeat-y;
  margin-bottom: 4px;
}
.EventsList .Event .Event_Image
{
  display: inline-block;
  padding: 5px;
  width: 125px;
  vertical-align: middle;
  margin: 0;
}
* html .EventsList .Event .Event_Image /* to get IE6 to do the inline-block */
{
  display: inline;
}
.EventsList .Event .Event_Text
{
  display: inline-block;
  padding: 8px;
  width: 392px;
  vertical-align: middle;
  margin: 0 0 5px 0;
}
* html .EventsList .Event .Event_Text /* to get IE6 to do the inline-block */
{
  display: inline;
}
.EventsList .Event .Event_Text .Event_Detail
{
  display: block;
}
.EventsList .Event .Event_Text .Event_Name
{
  display: block;
  margin-bottom: 14px;
}
.EventsList .Event .Event_Text .Event_Description
{
  margin-bottom: 14px;
}
.EventsList .Event .Event_Text .Event_Dates
{
  color: #40362a;
  display: block;
  font-size: 11px;
  margin-bottom: 14px;
}
.EventsList .Event .Event_Text .Event_Dates .Dates_Heading
{
  display: none;
}
.EventsList .Search
{
  display: none;
}

.EventDetails .EventDates select, .NewAccount .DateOfBirth select {
  background: #fff;
  border: 1px solid #25393E;
  height:32px;
  line-height:32px;
  padding: 0 8px;
  width:100%;
}



/**
 * Styles specific to the MyAccount page.
 */
.MyAccount h1
{
}
.MyAccount h2
{
    padding-top: 10px !important;
}
.MyAccount h3
{
    padding-top: 8px !important;
}
.MyAccount .Addresses br
{
  display: inline;
}
.MyAccount .AddressType
{
  font-style: italic;
  font-size: 9pt;
}
.MyAccount .ChangePassword
{
  clear: both;
  display: block;
}
.MyAccount .Addresses div.Address
{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.MyAccount a
{
  background-color:#25393E;
  border:none;
  clear:both;
  color:#FFFFFF;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:14px;
  padding:7px 10px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: Capitalize;
  display:inline-block;
}

.MyAccount a:hover {
  background-color:#3A5D66;
  color: #fff;
  text-decoration:none;
}
.MyAccount a[disabled="disabled"] {
  background-color:DarkGray;
  color: #fff !important;
  text-decoration:none;
}
.MyAccount #ctl00_ContentPlaceHolder_ChangePassword
{
  background-color:#25393E;
  border:none;
  clear:both;
  color:#FFFFFF;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:14px;
  padding:7px 10px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: Capitalize;
  display:inline-block;
}

.MyAccount #ctl00_ContentPlaceHolder_ChangePassword:hover {
  background-color:#3A5D66;
  color: #fff;
  text-decoration:none;
}
.MyAccount .Addresses a
{
  background-color:#25393E;
  border:none;
  clear:both;
  color:#FFFFFF;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:11px;
  padding:6px 10px;
  margin-top: 8px;
  height:28px;
  cursor: pointer;
  font-weight: bold;
  text-transform: Capitalize;
  display:inline-block;
}

.MyAccount .Addresses a:hover {
  background-color:#3A5D66;
  color: #fff;
  text-decoration:none;
}
.MyAccount #ctl00_ContentPlaceHolder_LogOutButton {
float: right;
clear: both;
display: block;
margin-left: 100%;
margin-bottom: -25px;
top: 91px;
position: relative;
background-color: #3A5D66;
}



/**
 * Styles specific the NewAccount page.
 */
.NewAccount .YourDetailsHeading
{
  display: none;
}
.NewAccount .YourAddressHeading
{
  display: none;
}
.NewAccount .YourPreferencesHeading
{
  display: none;
}
.NewAccount .Progress
{
}
.NewAccount .DateOfBirth select
{
    width:88px;
}
.NewAccount .DateOfBirth input
{
    width:88px !important;
    height:30px;
}
.NewAccount .AddressMessage
{
    display:none;
}
.NewAccount .Country:before
{
    content: "Please enter your address.";
}
/**
 * Styles specific to the Checkout page.
 */
.Checkout h1
{
}
.Checkout h2
{
    padding-top: 10px;
}
.Checkout h3
{
    padding-top: 10px;
}
.Checkout .AddressList
{
  margin-left: 0px;
  padding-left: 0px;
  display: block;
}
.Checkout .AddressList li
{
    background-color:#f8f7f7;
    border: 2px solid #dbd9d6;
    border-radius: 16px 16px 16px 16px;
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 4px;
    min-height: 132px;
    padding: 25px 25px 25px 53px;
    position: relative;
    width: 490px;
}
.Checkout .AddressList li input[type="radio"]
{
    left: 19px;
    position: absolute;
    top: 24px;
}
.Checkout .AddressList .Button
{
  margin-top: 8px;
}
.Checkout .SummaryHeading
{
  margin-bottom: 12px;
}
.Checkout p
{
  margin: 0px;
  margin-bottom: 1px;
}
.Checkout .Event_Summary + p
{
  font-style: italic;
}
.Checkout .Caption
{
  margin-bottom: 2px;
  margin-top: 10px;
}
.Checkout .Summary .Summary
{
  width: 170px;
}
.Checkout table
{
  margin-top: 6px;
}
.Checkout .Summary .Grand_Total, .Checkout .Total
{
  font-weight: bold;
}
.Checkout .Info
{
}
.Checkout .Payment_Summary
{
  font-size: 11px;
  color:Gray;
}
.Checkout .Billing_Address
{
  font-size: 14px;
  color:Black;
}
.Checkout .Delivery_Method
{
  font-size: 14px;
  color:Black;
}



/**
 * Style specific to the EventDetails page.
 */
.EventDetails
{
}
.EventDetails h1
{
}
.EventDetails .DetailsContainer
{
  margin-bottom: 12px;
}
.EventDetails .DetailsContainer table
{
  width: 100%;
  color: #40362a;
  border: 0;
}
.EventDetails .DetailsContainer table td
{
  border: 0;
}
.EventDetails .DetailsContainer table td h2
{
  margin: 0;
  padding: 0;
  background-color: Transparent;
  color: #40362a;
}
.EventDetails .DetailsContainer + *
{
  clear: both;
}
.EventDetails img
{
    clear: both;
    display: block;
}
.EventDetails .DatesAndTimesHeading
{

}
.EventDetails .MonthList
{
  margin: 0;
  padding: 0;
}
.EventDetails .MonthList li
{
  display: inline;
  font-size: 12px;
  padding: 0px;
}

.EventDetails .MonthList li a
{
  background-color:#25393E;
  border:none;
  clear:both;
  color:#FFFFFF;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:14px;
  padding:7px 10px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: Capitalize;
  display:inline-block;
}

.EventDetails .MonthList li a:hover {
  background-color:#3A5D66;
  color: #fff;
  text-decoration:none;
}


.EventDetails .MonthList li a[disabled]
{
  font-weight: bold;
  background-color:darkgray;
}
.EventDetails .SoldOutText
{
  margin-top: 24px;
}
.EventDetails .EventDatesList
{
  width: auto;
}
.EventDetails .BookNowButton
{

  position: relative;
}
.EventDetails .Savings
{
    display:none;
}
.EventDetails .EventDates select
{
    width: 375px;
}

/**
 * Styles for the wikitext (most of the content of the EventDetails page)
 */
.BoldText
{
  font-weight: bold;
}
.ItalicText
{
  font-style: italic;
}
.UnderlineText
{
  text-decoration: underline;
}
.BorderOn
{
  border: 1px solid #40362a;
  border-collapse: collapse;
}
.BorderOn td
{
  border: 1px solid #40362a;
}
.BorderOff
{
  border-width: 0px;
}
.BorderOff td
{
  border-width: 0px;
}



/**
 * Styles specific to the Donations page.
 */
.Donations .GiftAid
{
  position: relative;
  margin-top: 12px;
  display: block;
}
.Donations .GiftAid input
{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
}
.Donations .GiftAid label
{
  padding-left: 22px;
  display: block;
}
.Donations .FundDescription
{
  margin-bottom: 8px;
  display: block;
}
.Donations h3
{
    padding-top:5px;
}
.Donations .DeclineButton 
{
    background-color: DarkGray;
}
.Donations .DeclineButton:hover 
{
    background-color: #BDBDBD;
}


/**
 * Styles specific to the EventCalendar page
 */
.EventsCalendar h1
{
}
.EventsCalendar table
{
  border: 0px solid #dbd9d6;
  font-size: 10px;
}
.EventsCalendar td
{
  font-size: .95em;
  padding: 0px;
  border: 1px solid #dbd9d6;
  vertical-align: top;
}
.EventsCalendar td > div
{
  width: 70px;
  height: auto;
  padding: 4px;
  overflow: hidden;
  min-height: 86px;
}
.EventsCalendar img, .EventsCalendar .Instance .MoreInfo
{
  display: none;
}
.EventsCalendar table .Inactive
{
  background-color: #f8f7f7;
  cursor: pointer;
}
.EventsCalendar table .Inactive .CalendarDate
{
  color: #837c74;
}
.EventsCalendar table .Inactive .Instance
{
  display: none;
}
.EventsCalendar table .Instance .Description
{
  display: none;
}
.EventsCalendar table .Instance .Name
{
    margin-bottom:8px;

}
.EventsCalendar .CalendarDate
{
  margin-bottom: 7px;
  font-size: 11px;
  text-align: right;
  color: #837c74;
}
.EventsCalendar .Today
{
  background-color: #F02521;
}



/**
 * Styles specific to the Confirmation page
 */
.Confirmation h3
{
  margin: 12px 0px 8px;
}
.Confirmation h2
{
  margin: 12px 0px 8px;
}
.Confirmation table
{
  width: 468px;
  margin: 0px 0px 3px 0px;
}
.Confirmation table .Total
{
  width: 24px;
  text-align: right;
}
.Confirmation .TicketsTotal
{
  display: none;
}
.Confirmation .Grand_Total
{
  font-weight: bold;
}
.Confirmation .OptionalMessage
{
  color: #F02521;
}
.Confirmation .TicketsHeading
{
  margin-bottom: 8px;
}
.Confirmation .EventName
{
  margin-right: 24px;
}
.Confirmation .AreaLink
{
  display: inline;
}
.Confirmation table
{
  margin-top: 4px;
  width: 100%;
}
.Confirmation table .Seat_Number
{
  width: 120px;
}
.Confirmation table .Type
{
}
.Confirmation table .Total
{
  width: 100px;
  text-align: right;
}
.Confirmation table select
{
  width: 100%;
}
.Confirmation table .Delete
{
  width: 65px;
  text-align: right;
}
.Confirmation .DonationsHeading
{
  margin-top: 20px;
  display: block;
}
.Confirmation .Fund_Name
{
  width: 352px;
}
.Confirmation .DonationInput input
{
  width: 80px;
}
.Confirmation .AddDonationsLink
{
  display: block;
  position: relative;
}
.Confirmation .CheckoutLink
{
  float: right;
  position: relative;
  top: 4px;
}
.Confirmation .SummarySection .Money
{
  text-align: right;
}



/**
 * Multi target styles
 */
.YourDetailsHeading, .MyDetailsHeading, .MyAddressesHeading, .MyPreferencesHeading
{
  clear: left;
}
.TicketsTotal, .DonationsTotal, .BasketTotal
{
  display: block;
  position: relative;
  text-align: right;
}
.BasketTotal span, .TicketsTotal span, .DonationsTotal span
{
  font-weight: bold;
}



.Memberships .Membership
{
    background-color: #f8f7f7;
    border: 2px solid #dbd9d6;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 14px;
    margin-top: 23px;
    min-height: 321px;
    padding: 10px;
    vertical-align: top;
    width: 97%;
}
.Memberships .Membership h2
{
    background:none;
    text-indent: 0px;
    color: Black;
    font-size: inherit;
}
.Memberships .Membership .WikiText
{
    font-size:13px;
}
.Memberships .Membership .Details
{
    font-size: 13px;
}
.Memberships .Membership li
{
    list-style: square;
}

.SpektrixFooter
{
    padding-right: 20px;
}
.AddGiftVoucher .Container
{
    background-color: #f8f7f7;
    margin: 0;
    padding: 5px 20px;
}
.AddGiftVoucher .Amount
{
    padding-top: 20px;
    border-radius: 20px 20px 0px 0px;
}
.AddGiftVoucher .Message
{
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
}

.FixedSeriesOptions table
{
    border:none;
}
.FixedSeriesOptions h2
{
    margin-bottom: 10px;
    margin-top: 20px;
}
.FixedSeriesWizard .EditButtonBar {
    margin-top: 30px;
    text-align: left;
}
.FixedSeriesAvailableDates .FixedSeriesDatesSection .HeaderSection {
    font-weight: bold;
}
.FixedSeriesChooseSeats .AreaList
{
    display:none;
}
.FixedSeriesWizard .FixedSeriesOptions .SeatTicketTypeDropDown select
{
    margin-left: 5px;
}
.FixedSeriesWizard .FixedSeriesOptions li {
    font-weight: bold;
    list-style: none outside none;
    margin-left: -40px;
}

.LoginLogout h1 {

  color: #40362a;
}

.Container .left {
  color: #40362a;
  font-style: normal;
}

#ctl00_ContentPlaceHolder_Label2, #ctl00_ContentPlaceHolder_Label4 {
  display:none;
}

#ctl00_ContentPlaceHolder_EmailAddress, #ctl00_ContentPlaceHolder_Password {
  width: 225px;
  border: 1px solid #25393E;
}
.DateOfBirth #ctl00_ContentPlaceHolder_AccountDetailsEditor_DateOfBirth_YearBox {
  width:60px;
}
